# ignore IntelliJ IDEA project entirely

.idea
*.iml

# Ruby defaults

/.bundle/
/.yardoc
/Gemfile.lock
/_yardoc/
/coverage/
/doc/
/pkg/
/spec/reports/
/tmp/
*.bundle
*.so
*.o
*.a
mkmf.log

# Gem

*.gem

# Logs

/log/

# Emacs

*~
\#*
.#*

# Mac OS

.DS_Store
